<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gwGhost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gwGhost.Properties.Settings>
            <setting name="gwPath" serializeAs="String">
                <value>C:\MinGW\Bin\</value>
            </setting>
            <setting name="linkArg" serializeAs="String">
                <value>-mwindows -static -Wl,--strip-all  -Wl,--image-base=0xF00000</value>
            </setting>
            <setting name="clArg" serializeAs="String">
                <value>-Os -O3 -fno-ident</value>
            </setting>
            <setting name="obfusPcnt" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="insrtJunk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cnfseCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clnAftCompile" serializeAs="String">
                <value>True</value>
            </setting>
        </gwGhost.Properties.Settings>
    </userSettings>
</configuration>